<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

	 <div class="container">
	<table class="table table-striped">
		<tr>
			<button><a href="/course/add/">Add Course</a></button>
			<th>Name</th>
			<th>Duration in months</th>
			<th>Description</th>
			<th>Teachers</th>
		</tr>
		
		{% for course in course %}

		<tr>
			<td>{{course.Name}}</td>
			<td>{{course.Duration_in_months}}</td>
			<td>{{course.Description}}</td>
			<td>{{course.teachers}}</td>
			<td><a href="/course/detail/{{course.pk}}">more details</a></td>
			<td><a href="/course/edit/{{course.pk}}">edit details</a></td>
		</tr>
		{%endfor%}

	</table>
</div>

</body>
</html>